@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
    --primary-Red: hsl(1, 90%, 64%);
    --primary-Blue: hsl(219, 85%, 26%);

    --neutral-White: hsl(0, 0%, 100%)
    --neutral-Very-light-grayish-blue hsl(210, 60%, 98%);
    --neutral-Light-grayish-blue1: hsl(211, 68%, 94%);
    --neutalLight-grayish-blue2: hsl(205, 33%, 90%);
    --meutal-Grayish-blue: hsl(219, 14%, 63%);
    --meutral-Dark-grayish-blue: hsl(219, 12%, 42%);
    --neutral-Very-dark-blue: hsl(224, 21%, 14%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--neutral-Light-grayish-blue1);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.wrapper {
    width: 95%;
    max-width: 900px;
    background-color: #fff;
    padding: 1.5rem;
    margin: 1rem auto;
    border-radius: 20px;
}

.header {
    justify-content: space-between;
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

.time, 
.all__message__marker {
    color: var(--meutal-Grayish-blue);
}

.all__message__marker:hover {
    color: var(--primary-Blue); 
    cursor: pointer;      
}

.notification {
   background-color: var(--neutalLight-grayish-blue2);
   padding: 1rem;
   border-radius: 10px;
   border: 1px solid var(--neutalLight-grayish-blue2);
}


.change__color {
    background-color: var(--neutral-Very-light-grayish-blue);
}

.notification, .header{
    display: flex;
    align-items: center;
}

.notification + .notification {
    margin-top: 0.6rem;
}

.number__of__notifications {
    background-color: var(--primary-Blue);
    color: #fff;
    padding: 0.1rem 0.4rem;
    border-radius: 5px;
    margin-left: 0.5rem;
}

.notification__description {
    margin-left: 1rem;
}

.author {
    font-weight: 900;
    margin-right: 0.3rem;
}

.time {
    margin: 1rem 0;
}

.author:hover {
    color: var(--primary-Blue);
    cursor: pointer;
}

.comment {
    margin: 0.4rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--neutalLight-grayish-blue2);
}

.comment p {
    max-width: 300px;
}

.show {
    display: none;
}

.marker {
    background-color: var(--primary-Red);
    font-size: 9px;
    margin: 0.25rem;
    padding: 1px 6px;
    border-radius: 50px;
}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }